.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    flex-direction: column;
    background-color: #EBEBEB;
    width: 80%;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .team-container {
        padding: 1rem;
        margin: 0.5rem;
        width: fit-content;
    }
}