.Header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
}

.logo {
    height: auto;
    max-width: 20%;
    margin: 0;
}

.text div {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5% 0 0 0;
}

.highlight {
    color: #B81A1A;
}
  
@media (max-width: 768px) {

    .text div {
        font-size: 1rem;
    }

}