.contests-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
}

@media (max-width: 768px) {
    .contests-container {
        justify-content: center;
        margin: 0 1rem 0 1rem;
    }
}