.container-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(108.4deg, rgb(253, 44, 56) 3.3%, rgb(176, 2, 12) 98.4%);
  height: 100vh; /* Set the height to fill the viewport height */
}

@media (max-width: 768px) {
  .container-signup {
    background: none;
  }
}
