.container {
  display: flex;
  flex-direction: column; /* Display as a column by default */

  /* Add any other styling you want for the container */
  border: 1px solid black;
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: column; /* Display as a column by default */

  /* Add any other styling you want for the info section */
  margin-bottom: 10px; /* Add some spacing between title and author */
}

.article-thumbnail {
  width: 100%; /* Image width will be 100% of the container in mobile view */
  max-height: 300px; /* Set a maximum height for the image in mobile view */
}

@media (min-width: 600px) {
  /* Apply styles when the screen width is at least 600px (laptop view) */
  .container {
    flex-direction: row; /* Change to row layout on larger screens (laptop view) */
    align-items: center; /* Center items horizontally in the container */
  }

  .info {
    flex-direction: column; /* Change to column layout on larger screens (laptop view) */
    margin-bottom: 0; /* Reset the margin for the info section */
    margin-right: 20px; /* Add some spacing between title and image */
  }

  .article-thumbnail {
    width: 300px; /* Set a fixed width for the image in laptop view */
    max-height: none; /* Reset the max-height property for the image */
  }
}
