.groups {
    display: flex;
    flex-direction: row;
    font-family: "Josefin Sans", "Segoe UI", sans-serif;
  }
  
  .title {
    font-size: 5rem;
    font-weight: 500;
    margin: 0;
    color: black;
  }
  
  .info {
    margin-left: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .author {
    justify-content: flex-end;
    color: black;
    font-size: 1.2rem;
  }

  .thumbnail {
    width: 50%; 
    height: 90%;
  }

  @media (max-width: 600px) {
    .groups {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 2.5rem;
    }
    .thumbnail {
        width: 100%;
        height: 100%;
    }
    .info {
        align-items: flex-start;
    }
  }