.card {
    background-color: #E8E8E8;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 35px;
    padding: 1% 0 0 0;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.6);
  }

  @media (max-width: 768px) {
    .card {
        
        width: 80%;
        border-radius: 35px;
        justify-content: center;
    }
  }
  
  