* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.or-sign-up-with {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 60%;
  }
  
  .line {
    flex: 1;
    height: 2px;
    background-color: red;
    width: 100%;
  }

  .account-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 60%;
  }

  .account {
    margin: 0 10px;
    color: black;
    font-weight: bold;
  }
  
  .or-text {
    margin: 0 10px;
    color: #7B7B7B;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .account {
        text-align: center;
      }
  }
  